<header>Universal Counter</header>
<div class="counter">
  <span>{{ counterValue }}</span>
</div>
<button
  type="button"
  (click)="manualOverrideSignalValue()"
  class="btn btn-good"
>
  Override
</button>
<!-- <p>{{ fromService }}</p> -->
