<header>Alien Counter</header>
<div class="counter">
  <span>{{ signalValueFromEarth }}</span>
</div>
<button type="button" class="btn btn-bad" (click)="emitElectroMagneticPulse()">
  EMP
</button>
<!-- <p>{{ fromService }}</p> -->
