.header {
  color: red;
}

.hero--odd {
  /* background-color: blueviolet;
  color: white; */
}

.main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  column-gap: 1rem;
  margin: 1rem;
}

.counter-container {
  border: 2px solid royalblue;
  border-radius: 4px;
  display: flex;
  justify-items: center;
  flex-direction: column;
  padding: 0.5rem;
  height: fit-content;
}
