<header>Transmission Jammer</header>
<div class="counter">
  <span>{{ jamTransmissionValue }}</span>
</div>
<button type="button" (click)="jamTransmission()" class="btn btn-bad">
  Override
</button>
<!-- <p>{{ fromService }}</p> -->
